<link rel="stylesheet" href="/assets/css/passcode.css">
<script src="/assets/js/passcode.js"></script>

<div class="passcode-container">
    <div class="container">
        <div class="passcode">
            <div class="title-bar">
                Enter Passcode
            </div>
            <div class="content">
                <div class="pass">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <span class="clear"></span>
                </div>
                <div class="keyboard">
                    <div class="num1" data-value="1">1</div>
                    <div class="num2" data-value="2">2</div>
                    <div class="num3" data-value="3">3</div>
                    <div class="num4" data-value="4">4</div>
                    <div class="num5" data-value="5">5</div>
                    <div class="num6" data-value="6">6</div>
                    <div class="num7" data-value="7">7</div>
                    <div class="num8" data-value="8">8</div>
                    <div class="num9" data-value="9">9</div>
                    <div class="clear" data-value="clear">Clear</div>
                    <div class="num0" data-value="0">0</div>
                    <div class="enter" data-value="enter">Enter</div>
                    <span class="clear"></span>
                </div>
            </div>
        </div>
        
        <div class="passcode-msg passcode-success-msg">Passcode Accepted!</div>
        <div class="passcode-msg passcode-incorrect-msg">Incorrect Passcode!</div>
        
        <div class="beach-ball">
            <div class="wheel">
              <ul class="colors">
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
                <li class="color"></li>
              </ul>
            </div>
        </div>

        <div class="slider">
            <div class="lock">
                <div class="move"></div>

                <div class="text">
                    Slide to unlock
                    <div class="light"></div>
                </div>
            </div>
        </div>
    </div>
</div>