:root {
	--gap: 1.5rem;
	--page-padding: var(--gap);

	--sidebar: 15ch;
	--notsidebar: 100%;

	--maxcontent: 100%;

	--theme-color: rebeccapurple;
	--theme-color-contrast: white;

	--color-meta: #767676;
}
